/* The CSS file need to follow the same order as the HTML for an easy reading */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}


.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 700px;
}

h2 {
    font-size:35px
}

.column {
    float: left;
    padding: 10px;
    height: 100px; 
}
  
.left {
    width: 15%;
    border-right: #2a607c solid;
    margin-bottom: 20px;
    text-align: center;
}
  
.right {
    width: 85%;
    margin-bottom: 20px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

h3 {
    font-size:35px
}

.column2 {
    float: left;
    padding: 10px;
    height: 225px; 
}
  
.left2 {
    width: 15%;
    border-right: #2a607c solid;
    margin-top: 20px;
    text-align:center
}
  
.right2 {
    width: 85%;
    margin-top: 20px;
    display: flex;
}
  
.row2:after {
    content: "";
    display: table;
    clear: both;
}

.column3 {
    float: left;
    padding: 10px;
    height: 250px; 
}
  
.left3 {
    width: 15%;
    border-right: #2a607c solid;
   
}
  
.right3 {
    width: 85%;
    display: flex;

}
  

.row3:after {
    content: "";
    display: table;
    clear: both;
}

.column4 {
    float: left;
    padding: 10px;
    height: 250px; 
}
  
.left4 {
    width: 15%;
    border-right: #2a607c solid;
}
  
.right4 {
    width: 85%;
    display: flex;
}

.row4:after {
    content: "";
    display: table;
    clear: both;
}

.column2  .card1 img {
    width: 50%;
    border-radius: 20px;
    filter: grayscale(60%);
    box-shadow:10px 10px 10px 5px grey
}

.column2 .card1 img:hover {
    filter: grayscale(0%);
    width: 60%;
}

.column3 .card2 img {
    width: 50%;
    margin: 10px;
    border-radius: 20px;
    filter: grayscale(60%);
    box-shadow:10px 10px 10px 5px grey
}

.column3 .card2 img:hover {
    filter: grayscale(0%);
    width: 60%;
}

.column3 .card3 img {
    width: 50%;
    margin: 10px;
    border-radius: 20px;
    filter: grayscale(60%);
    box-shadow:10px 10px 10px 5px grey
}

.column3 .card3 img:hover {
    filter: grayscale(0%);
    width: 60%;
}

.column4 .card4 img {
    width: 50%;
    margin: 10px;
    border-radius: 20px;
    filter: grayscale(60%);
    box-shadow:10px 10px 10px 5px grey
}

.column4 .card5 img:hover {
    filter: grayscale(0%);
    width: 60%;
}

.column4 .card5 img {
    width: 50%;
    margin: 10px;
    border-radius: 20px;
    filter: grayscale(60%);
    box-shadow:10px 10px 10px 5px grey
}

.column4 .card4 img:hover {
    filter: grayscale(0%);
    width: 60%;
}


footer {
    background-color: #2a607c;
    color: whitesmoke;
    margin-top: 40px;
}

.footer {
    text-align: center;
}