/* The CSS file need to follow the same order as the HTML for an easy reading */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: whitesmoke;
}


.header h1 {
    display: inline-block;
    font-size: 48px;
   
}

/* Take care of the navigation bar */
nav {
    display: flex;
    justify-content: flex-start;
    background-color: #2a607c;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

nav li {
    display: inline;
    font-size: 17px;
}

nav a {
    color: whitesmoke;
    font-weight: bolder;
    padding: 7px;
    margin: 10px;
    border: solid black 1px;
    border-radius: 25px;
}

/* Take care of the main image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../img/new-background.jpg");
    background-size: cover;
    background-position: center;
}

h2 {
    font-size:35px
}

/* Take care of the colunm for the section about-me */
.column {
    float: left;
    padding: 10px;
    height: 100px; 
}
  
.left {
    width: 15%;
    border-right: #2a607c solid;
    margin-bottom: 20px;
    text-align: center;
}
  
.right {
    width: 85%;
    margin-bottom: 20px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

h3 {
    font-size:35px
}

/* Take care of the column in my-work section */
.column2 {
    float: left;
    padding: 10px;
    height: 225px; 
}
  
.left2 {
    width: 15%;
    border-right: #2a607c solid;
    margin-top: 20px;
    text-align:center
}
  
.right2 {
    width: 85%;
    margin-top: 20px;
    display: flex;
}
  
.row2:after {
    content: "";
    display: table;
    clear: both;
}

.column2  .card1 img {
    width: 25%;
    border-radius: 20px;
    filter: grayscale(60%);
    box-shadow:10px 10px 10px 5px grey
}

.column2 .card1 img:hover {
    filter: grayscale(0%);
    width: 30%;
}

/* Take care of the column for the work 2 and 3 */
.column3 {
    float: left;
    padding: 10px;
    height: 250px; 
}
  
.left3 {
    width: 15%;
    border-right: #2a607c solid;
   
}
  
.right3 {
    width: 85%;
    display: flex;

}
  

.row3:after {
    content: "";
    display: table;
    clear: both;
}

.column3 .card2 img {
    width: 50%;
    margin: 10px;
    border-radius: 20px;
    filter: grayscale(60%);
    box-shadow:10px 10px 10px 5px grey
}

.column3 .card2 img:hover {
    filter: grayscale(0%);
    width: 60%;
}

.column3 .card3 img {
    width: 50%;
    margin: 10px;
    border-radius: 20px;
    filter: grayscale(60%);
    box-shadow:10px 10px 10px 5px grey
}

.column3 .card3 img:hover {
    filter: grayscale(0%);
    width: 60%;
}

/* Take care of the column for the work 4 and 5 */
.column4 {
    float: left;
    padding: 10px;
    height: 250px; 
}
  
.left4 {
    width: 15%;
    border-right: #2a607c solid;
}
  
.right4 {
    width: 85%;
    display: flex;
}

.row4:after {
    content: "";
    display: table;
    clear: both;
}

.column4 .card4 img {
    width: 50%;
    margin: 10px;
    border-radius: 20px;
    filter: grayscale(60%);
    box-shadow:10px 10px 10px 5px grey
}

.column4 .card5 img:hover {
    filter: grayscale(0%);
    width: 60%;
}

.column4 .card5 img {
    width: 50%;
    margin: 10px;
    border-radius: 20px;
    filter: grayscale(60%);
    box-shadow:10px 10px 10px 5px grey
}

.column4 .card4 img:hover {
    filter: grayscale(0%);
    width: 60%;
}

/* Take care of the footer */
footer {
    background-color: #2a607c;
    color: whitesmoke;
    margin-top: 40px;
}

.footer {
    text-align: center;
}


/* Take care of the design of the website for Screen-size phone */
@media screen and (max-width:375px) {
    
    header {
        text-align:center
    }

    nav li {
        display:block;
        font-size: 30px;
    }

    nav a {
        color: whitesmoke;
        font-weight: bolder;
        text-decoration-line: none;
        padding: 7px;
        margin: 10px;
        border: none;
    }

    .column, .column2, .column3, .column4 {
        width:auto
    }

    .left, .left1, .left2, .left3, .left4 {
        border-right:none
   
    }
}

/* Take care of the design of the website for Screen-size tablet */
@media screen and (max-width:768px) {
    
    header {
        text-align:center
    }

    nav li {
        display:block;
        font-size: 30px;
    }

    nav a {
        color: whitesmoke;
        font-weight: bolder;
        text-decoration-line: none;
        padding: 7px;
        margin: 10px;
        border: none;
    }

    .column, .column2, .column3, .column4 {
        width:auto
    }

    .left1, .left2, .left3, .left4 {
        border-right:none
    }
}
